# OCA stuff
oca-decorators
openupgradelib
odoo_test_helper
flake8
# Upgrade libs from odoo requirements.txt that are too old
python-stdnum
ofxparse
# Needed by commonly-used community modules
factur-x
phonenumbers
unidecode
unicodecsv
simplejson
html2text
pycups
openpyxl
# Needed by some community that I often deploy
# account_invoice_import_simple_pdf
pymupdf
pdfplumber
regex==2022.3.2
dateparser==1.1.1
# ATTENTION, il met à jour à la dernière version de Pillow, qui n'est pas celle du requirements.txt d'Odoo
python-barcode
pylibdmtx
ovh
# das2
pgpy
# Chorus connector
requests_oauthlib
# Mooncard
pycountry
# base_view_inheritance_extension
astor
# base_rest
apispec
pyquerystring
cerberus
parse-accept-language
# roulier for La Poste connector and other transporters
roulier
# connector
cachetools>=2.0.1
# py3o
py3o.template
py3o.formats
# partner_import_helper
openai
email_validator
# storage
#boto3
#python_slugify
