## OCA stuff
oca-decorators
openupgradelib
odoo_test_helper
flake8
## Upgrade libs from odoo requirements.txt that are too old
python-stdnum
ofxparse
## Needed by commonly-used community modules
factur-x
phonenumbers
unidecode
unicodecsv
simplejson
html2text
pycups
openpyxl
python-barcode
pylibdmtx
## account_invoice_download_ovh
ovh
## account_invoice_import_simple_pdf
regex
dateparser
pymupdf
## WARNING: pdfplumber updates to the latest version of Pillow, which is not the version of Odoo's requirements.txt
pdfplumber
## py3o
py3o.template
py3o.formats
mock
## das2
pgpy
## l10n_fr_chorus_account
requests_oauthlib
## mooncard_payment_card
pycountry
## base_view_inheritance_extension
astor
## base_rest
apispec
pyquerystring
cerberus
parse-accept-language
## roulier for La Poste connector and other transporters
# roulier
## connector
# cachetools>=2.0.1
## partner_import_helper
# openai
# email_validator
## storage
# boto3
# python_slugify
