# OCA stuff
oca-decorators
openupgradelib
odoo_test_helper
# Upgrade libs from odoo requirements.txt that are too old
python-stdnum
ofxparse
# Needed by commonly-used community modules
factur-x
phonenumbers
regex==2022.3.2
dateparser
unidecode
unicodecsv
# ATTENTION, pdfplumber met à jour à la dernière version de Pillow, qui n'est pas celle du requirements.txt d'Odoo
# pdfplumber
simplejson
html2text
requests_oauthlib
pycups
openpyxl
# Needed by some community that I often deploy
python-barcode
pylibdmtx
ovh
# Needed by base_view_inheritance_extension
astor
# Needed by base_rest
apispec
pyquerystring
cerberus
parse-accept-language
# Needed for connector
# cachetools>=2.0.1
# py3o
py3o.template
py3o.formats
mock
# Needed for storage
# boto3
# python_slugify
